In [79]:
import pandas as pd
import numpy as np
import nltk

In [80]:
testset=pd.read_csv('edited_city_list.csv')

In [81]:
dataset=pd.read_csv('Town and Counties by Postcode - Sheet1.csv')

In [82]:
testset

                 city  postcode         Actual
0             Chennai    600096    Wrong Input
1       Aberdeen City  AB10 6QD       Aberdeen
2                   -  AB11 9LX       Aberdeen
3           Petercult   AB165QN    Peterculter
4             Abedeen  AB24 2RN       Aberdeen
5                 NaN  AB24 5AE       Aberdeen
6       Aberdeenshire  AB24 5PS       Aberdeen
7                 NaN  AB33 8EW         Alford
8       Aberdeenshire  AB42 1TN      Peterhead
9            Aberdeen  AB43 9AS    Fraserburgh
10      Aberdeenshire  AB44 1LX        MACDUFF
11      Aberdeenshire  AB51 3QR      Inverurie
12         Banffshire  AB56 1BN         Buckie
13      Hertfordshire   AL1 1PQ     St. Albans
14      Hertfordshire   AL1 2PG     St. Albans
15                NaN   B11 2EX     Birmingham
16             Tysley   B11 2EX     Birmingham
17         Birmingham   B11 2QL     Birmingham
18          Sparkhill   B11 4DX     Birmingham
19         Birmingham   B11 4JZ     Birmingham
20         Birmingham   B12 8LA     Birmingham
21                NaN   B12 9LH     Birmingham
22         Birmingham   B13 0BT     Birmingham
23         Birmingham   B14 5EZ     Birmingham
24         Birmingham   B14 5EZ     Birmingham
25      West Midlands   B14 6EB     Birmingham
26      West Midlands   B17 0QT     Birmingham
27      West Midlands   B18 4HB     Birmingham
28      West Midlands   B18 6LJ     Birmingham
29         Birmingham   B18 6NG     Birmingham
...               ...       ...            ...
1932              NaN   WS3 1HU        Walsall
1933    West Midlands   WS3 2EX        Walsall
1934          WALSALL   WS6 7DY        Walsall
1935              NaN   WS7 1JR      Burntwood
1936        Burntwood   WS7 3XF      Burntwood
1937              NaN   WS9 8QP        Walsall
1938    Wolverhampton   WV1 3BY     Willenhall
1939    West Midlands  WV10 9UW  Wolverhampton
1940              NaN  WV12 4JN     Willenhall
1941              NaN  WV12 5TL     Willenhall
1942       Willenhall  WV13 2DU     Willenhall
1943        Parkfield   WV2 2DT  Wolverhampton
1944    West Midlands   WV2 3AQ  Wolverhampton
1945    Wolverhampton   WV2 3AQ  Wolverhampton
1946              NaN   WV2 4NX  Wolverhampton
1947    West Midlands   WV3 0TT  Wolverhampton
1948    Wolverhampton   WV6 0QW  Wolverhampton
1949             York  YO10 3BP           York
1950  North Yorkshire  YO10 4BB           York
1951               Uk  YO12 7JR    SCARBOROUGH
1952        Pickering  YO18 7LG      Pickering
1953              NaN  YO24 1AR           York
1954              NaN  YO24 1AZ           York
1955        DRIFFIELD  YO25 6QE      Driffield
1956             York  YO30 6DG           York
1957             York  YO30 7AS           York
1958              NaN  YO30 7BL           York
1959             York  YO31 0QT           York
1960        Yorkshire  YO31 7EA           York
1961               UK  YO32 3SA           York

[1962 rows x 3 columns]

In [83]:
dataset

,Postcode area,Postcode districts,Post Town,Former postal county
0,AB,"AB10, AB11, AB12, AB15, AB16, \nAB21, AB22, AB...",Aberdeen,Aberdeenshire
1,AB,AB13,Milltimber,Aberdeenshire
2,AB,AB14,Peterculter,Aberdeenshire
3,AB,AB30,Laurencekirk,Kincardineshire
4,AB,AB31,Banchory,Kincardineshire
5,AB,AB32,Westhill,Aberdeenshire
6,AB,AB33,Alford,Aberdeenshire
7,AB,AB34,Aboyne,Aberdeenshire
8,AB,AB35,Ballater,Aberdeenshire
9,AB,AB36,Strathdon,Aberdeenshire
10,AB,AB37,Ballindalloch,Banffshire
11,AB,AB38,Aberlour,Banffshire
12,AB,AB39,Stonehaven,Kincardineshire
13,AB,AB41,Ellon,Aberdeenshire
14,AB,AB42,Peterhead,Aberdeenshire
15,AB,AB43,Fraserburgh,Aberdeenshire
16,AB,AB44,Macduff,Banffshire
17,AB,AB45,Banff,Banffshire
18,AB,AB51,Inverurie,Aberdeenshire
19,AB,AB52,Insch,Aberdeenshire
20,AB,AB53,Turriff,Aberdeenshire
21,AB,AB54,Huntly,Aberdeenshire
22,AB,AB55,Keith,Banffshire
23,AB,AB56,Buckie,Banffshire
24,AL,"AL1, AL2, AL3, AL4",St. Albans,Hertfordshire
25,AL,AL5,Harpenden,Hertfordshire
26,AL,"AL6, AL7",Welwyn,Hertfordshire
27,AL,"AL7, AL8",Welwyn Garden City,Hertfordshire
28,AL,"AL9, \nAL10",Hatfield,Hertfordshire
29,B,"B1, B2, B3, B4, B5, B6, B7, B8, B9, \nB10, B11...",Birmingham,West Midlands
...,...,...,...,...
1472,WN,WN7,Leigh,Lancashire
1473,WN,WN8,Skelmersdale,Lancashire
1474,WR,"WR1, WR2, WR3, WR4, WR5, WR6, WR7, WR8, \nWR78...",Worcester,Worcestershire
1475,WR,WR9,Droitwich,Worcestershire
1476,WR,WR10,Pershore,Worcestershire
1477,WR,WR11,Evesham,Worcestershire
1478,WR,"WR11, [6] WR12",Broadway,Worcestershire
1479,WR,"WR13, WR14",Malvern,Worcestershire
1480,WR,WR15,Tenbury Wells,Worcestershire
1481,WS,"WS1, WS2, WS3, WS4, WS5, WS6, WS8, WS9",Walsall,West Midlands
1482,WS,WS7,Burntwood,Staffordshire
1483,WS,WS10,Wednesbury,West Midlands
1484,WS,"WS11, WS12",Cannock,Staffordshire
1485,WS,"WS13, WS14",Lichfield,Staffordshire
1486,WS,WS15,Rugeley,Staffordshire
1487,WV,"WV1, WV2, WV3, WV4, WV5, WV6, WV7, WV8, WV9, \...",Wolverhampton,West Midlands
1488,WV,"WV1, WV12, WV13",Willenhall,West Midlands
1489,WV,WV14,Bilston,West Midlands
1490,WV,"WV15, WV16",Bridgnorth,Shropshire
1491,YO,"YO1, \nYO10, YO19, \nYO23, YO24, YO26, \nYO30,...",York,North Yorkshire
1492,YO,YO7,Thirsk,North Yorkshire
1493,YO,YO8,Selby,North Yorkshire
1494,YO,"YO11, YO12, YO13",Scarborough,North Yorkshire
1495,YO,YO14,Filey,North Yorkshire
1496,YO,"YO15, YO16",Bridlington,North Humberside
1497,YO,YO17,Malton,North Yorkshire
1498,YO,YO18,Pickering,North Yorkshire
1499,YO,"YO21, YO22",Whitby,North Yorkshire
1500,YO,YO25,Driffield,North Humberside
1501,ZE,"ZE1, ZE2, ZE3",Shetland,Shetland Islands

In [84]:
testcode=testset['postcode'].fillna('').apply(lambda s: s.split()[0] if len(s)>0 else '')

In [85]:
testcity=testset['city']
testcity=testcity.fillna('')

In [86]:
dcode=dataset['Postcode districts']
dtown=dataset['Post Town']

In [87]:
testset['predicted']='null'
testset['successful']='0'
testset

                 city  postcode         Actual predicted successful
0             Chennai    600096    Wrong Input      null          0
1       Aberdeen City  AB10 6QD       Aberdeen      null          0
2                   -  AB11 9LX       Aberdeen      null          0
3           Petercult   AB165QN    Peterculter      null          0
4             Abedeen  AB24 2RN       Aberdeen      null          0
5                 NaN  AB24 5AE       Aberdeen      null          0
6       Aberdeenshire  AB24 5PS       Aberdeen      null          0
7                 NaN  AB33 8EW         Alford      null          0
8       Aberdeenshire  AB42 1TN      Peterhead      null          0
9            Aberdeen  AB43 9AS    Fraserburgh      null          0
10      Aberdeenshire  AB44 1LX        MACDUFF      null          0
11      Aberdeenshire  AB51 3QR      Inverurie      null          0
12         Banffshire  AB56 1BN         Buckie      null          0
13      Hertfordshire   AL1 1PQ     St. Albans      null          0
14      Hertfordshire   AL1 2PG     St. Albans      null          0
15                NaN   B11 2EX     Birmingham      null          0
16             Tysley   B11 2EX     Birmingham      null          0
17         Birmingham   B11 2QL     Birmingham      null          0
18          Sparkhill   B11 4DX     Birmingham      null          0
19         Birmingham   B11 4JZ     Birmingham      null          0
20         Birmingham   B12 8LA     Birmingham      null          0
21                NaN   B12 9LH     Birmingham      null          0
22         Birmingham   B13 0BT     Birmingham      null          0
23         Birmingham   B14 5EZ     Birmingham      null          0
24         Birmingham   B14 5EZ     Birmingham      null          0
25      West Midlands   B14 6EB     Birmingham      null          0
26      West Midlands   B17 0QT     Birmingham      null          0
27      West Midlands   B18 4HB     Birmingham      null          0
28      West Midlands   B18 6LJ     Birmingham      null          0
29         Birmingham   B18 6NG     Birmingham      null          0
...               ...       ...            ...       ...        ...
1932              NaN   WS3 1HU        Walsall      null          0
1933    West Midlands   WS3 2EX        Walsall      null          0
1934          WALSALL   WS6 7DY        Walsall      null          0
1935              NaN   WS7 1JR      Burntwood      null          0
1936        Burntwood   WS7 3XF      Burntwood      null          0
1937              NaN   WS9 8QP        Walsall      null          0
1938    Wolverhampton   WV1 3BY     Willenhall      null          0
1939    West Midlands  WV10 9UW  Wolverhampton      null          0
1940              NaN  WV12 4JN     Willenhall      null          0
1941              NaN  WV12 5TL     Willenhall      null          0
1942       Willenhall  WV13 2DU     Willenhall      null          0
1943        Parkfield   WV2 2DT  Wolverhampton      null          0
1944    West Midlands   WV2 3AQ  Wolverhampton      null          0
1945    Wolverhampton   WV2 3AQ  Wolverhampton      null          0
1946              NaN   WV2 4NX  Wolverhampton      null          0
1947    West Midlands   WV3 0TT  Wolverhampton      null          0
1948    Wolverhampton   WV6 0QW  Wolverhampton      null          0
1949             York  YO10 3BP           York      null          0
1950  North Yorkshire  YO10 4BB           York      null          0
1951               Uk  YO12 7JR    SCARBOROUGH      null          0
1952        Pickering  YO18 7LG      Pickering      null          0
1953              NaN  YO24 1AR           York      null          0
1954              NaN  YO24 1AZ           York      null          0
1955        DRIFFIELD  YO25 6QE      Driffield      null          0
1956             York  YO30 6DG           York      null          0
1957             York  YO30 7AS           York      null          0
1958              NaN  YO30 7BL           York      null          0
1959             York  YO31 0QT           York      null          0
1960        Yorkshire  YO31 7EA           York      null          0
1961               UK  YO32 3SA           York      null          0

[1962 rows x 5 columns]

In [88]:

for j in range(len(testcity)):  # Loop for the test set
    flagp=0       # right postcode match hasn't been found
    flagr=0       # right city match hasn't been found
    small=100  
    for i in range(len(dataset)):    # Loop for the data set
        if (len(testcode[j])!=0):    # to make sure the postcode entry isn't empty
            code=(dcode[i].replace('\n','')).split(', ')   # Incase of a cell with many postcode separate them and check
            for l in range(len(code)):                       
                p=nltk.edit_distance(code[l], testcode[j]) 
                if(p==0):        
                    flagp=1     #exact postcode match has been found
                    testset['predicted'].iat[j]=dtown[i]   
                    break
    
    if(flagp==0):      #If the given postcode is wrong or entry is empty
        for i in range(len(dataset)):    #Loop for the data set
            if (len(testcity[j])!=0):    #make sure city entry isn't empty
                r=nltk.edit_distance((testcity[j].lower()),(dtown[i].lower()))  #check for the distance
                if(r<small and (r/(len(testcity[j])))<0.4):  #to find the smallest distance and make sure it's below the threshold value  
                    flagr=1      #right city match has been found
                    small=r
                    pos=i
                    
    if(flagr==1 and flagp==0):     #postcode is wrong and city given is right
        testset['predicted'].iat[j]=dtown[pos]
            
    if (flagp==0 and flagr==0):    #both the given postcode and city name are wrong
        testset['predicted'].iat[j]=("Wrong Input")

In [89]:
for k in range(len(testcity)):    #to check if the predicted output and the actual output are same
    e=nltk.edit_distance(testset['Actual'].iat[k].lower(),testset['predicted'].iat[k].lower())
    if(e==0):
        testset['successful'].iat[k]='1'

In [90]:
testset

                 city  postcode         Actual      predicted successful
0             Chennai    600096    Wrong Input    Wrong Input          1
1       Aberdeen City  AB10 6QD       Aberdeen       Aberdeen          1
2                   -  AB11 9LX       Aberdeen       Aberdeen          1
3           Petercult   AB165QN    Peterculter    Peterculter          1
4             Abedeen  AB24 2RN       Aberdeen       Aberdeen          1
5                 NaN  AB24 5AE       Aberdeen       Aberdeen          1
6       Aberdeenshire  AB24 5PS       Aberdeen       Aberdeen          1
7                 NaN  AB33 8EW         Alford         Alford          1
8       Aberdeenshire  AB42 1TN      Peterhead      Peterhead          1
9            Aberdeen  AB43 9AS    Fraserburgh    Fraserburgh          1
10      Aberdeenshire  AB44 1LX        MACDUFF        Macduff          1
11      Aberdeenshire  AB51 3QR      Inverurie      Inverurie          1
12         Banffshire  AB56 1BN         Buckie         Buckie          1
13      Hertfordshire   AL1 1PQ     St. Albans     St. Albans          1
14      Hertfordshire   AL1 2PG     St. Albans     St. Albans          1
15                NaN   B11 2EX     Birmingham     Birmingham          1
16             Tysley   B11 2EX     Birmingham     Birmingham          1
17         Birmingham   B11 2QL     Birmingham     Birmingham          1
18          Sparkhill   B11 4DX     Birmingham     Birmingham          1
19         Birmingham   B11 4JZ     Birmingham     Birmingham          1
20         Birmingham   B12 8LA     Birmingham     Birmingham          1
21                NaN   B12 9LH     Birmingham     Birmingham          1
22         Birmingham   B13 0BT     Birmingham     Birmingham          1
23         Birmingham   B14 5EZ     Birmingham     Birmingham          1
24         Birmingham   B14 5EZ     Birmingham     Birmingham          1
25      West Midlands   B14 6EB     Birmingham     Birmingham          1
26      West Midlands   B17 0QT     Birmingham     Birmingham          1
27      West Midlands   B18 4HB     Birmingham     Birmingham          1
28      West Midlands   B18 6LJ     Birmingham     Birmingham          1
29         Birmingham   B18 6NG     Birmingham     Birmingham          1
...               ...       ...            ...            ...        ...
1932              NaN   WS3 1HU        Walsall        Walsall          1
1933    West Midlands   WS3 2EX        Walsall        Walsall          1
1934          WALSALL   WS6 7DY        Walsall        Walsall          1
1935              NaN   WS7 1JR      Burntwood      Burntwood          1
1936        Burntwood   WS7 3XF      Burntwood      Burntwood          1
1937              NaN   WS9 8QP        Walsall        Walsall          1
1938    Wolverhampton   WV1 3BY     Willenhall     Willenhall          1
1939    West Midlands  WV10 9UW  Wolverhampton  Wolverhampton          1
1940              NaN  WV12 4JN     Willenhall     Willenhall          1
1941              NaN  WV12 5TL     Willenhall     Willenhall          1
1942       Willenhall  WV13 2DU     Willenhall     Willenhall          1
1943        Parkfield   WV2 2DT  Wolverhampton  Wolverhampton          1
1944    West Midlands   WV2 3AQ  Wolverhampton  Wolverhampton          1
1945    Wolverhampton   WV2 3AQ  Wolverhampton  Wolverhampton          1
1946              NaN   WV2 4NX  Wolverhampton  Wolverhampton          1
1947    West Midlands   WV3 0TT  Wolverhampton  Wolverhampton          1
1948    Wolverhampton   WV6 0QW  Wolverhampton  Wolverhampton          1
1949             York  YO10 3BP           York           York          1
1950  North Yorkshire  YO10 4BB           York           York          1
1951               Uk  YO12 7JR    SCARBOROUGH    Scarborough          1
1952        Pickering  YO18 7LG      Pickering      Pickering          1
1953              NaN  YO24 1AR           York           York          1
1954              NaN  YO24 1AZ           York           York          1
1955        DRIFFIELD  YO25 6QE      Driffield      Driffield          1
1956             York  YO30 6DG           York           York          1
1957             York  YO30 7AS           York           York          1
1958              NaN  YO30 7BL           York           York          1
1959             York  YO31 0QT           York           York          1
1960        Yorkshire  YO31 7EA           York           York          1
1961               UK  YO32 3SA           York           York          1

[1962 rows x 5 columns]

In [91]:
testset.to_csv('prediction.csv')

In [93]:
correct=0
for i in range(len(testcity)):
    if(testset['successful'].iat[i]=='1'):
        correct=correct+1
accuracy = (correct/len(testcity))*100
print("No. of correct predictions =",correct)
print("Accuracy of prediction =",accuracy,"%")

No. of correct predictions = 1914
Accuracy of prediction = 97.55351681957187 %